<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
        <li>Jérémy FROMENT</li>
        <li>Aurélien CURTI</li>
        <li>Elia DITMANN</li>
        <li>Thomas SUIGNARD</li>
    </ul>
  </body>
</html>
